################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution_BE_NET/.vs/Solution_BE_NET/FileContentIndex
/Solution_BE_NET/Solution_BE_NET/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Solution_BE_NET/.vs/Solution_BE_NET/v17
/Solution_BE_NET/BE_NET_DataAcess.NetFarmeWork/.vs
